<?xml version='1.0' encoding='utf-8'?>
<widget id="com.metricaurbana" version="1.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>metricaurbana</name>
    <description>
        Aplicación para hacer medición, encuestas o sondeos de opinión con formularios personalizados
    </description>
    <author email="soporte@indexdream.com" href="http://indexdream.com">
        IndexDream
    </author>
    <content src="index.html" />
    <access origin="*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <allow-intent href="market:*" />
    </platform>
    <icon platform="android" src="iconos/iconoMetrica36.png" density="ldpi" width="36" height="36"/>
<icon platform="android" src="iconos/iconoMetrica48.png" density="mdpi" width="48" height="48"/>
<icon platform="android" src="iconos/iconoMetrica72.png" density="hdpi" width="72" height="72"/>
<icon platform="android" src="iconos/iconoMetrica96.png" density="xhdpi" width="96" height="96"/>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name='phonegap-version' value='cli-7.1.0' />
<preference name='pgb-builder-version' value='1' />
 <preference name="AndroidPersistentFileLocation" value="Compatibility" />
     
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <feature name="File">
    <param name="android-package" value="org.apache.cordova.FileUtils" />
</feature>
   
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
    <feature name="File">
    <param name="android-package" value="org.apache.cordova.FileUtils" />
</feature>
<feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
</feature>

</widget>
